# Why OpenHAB Doesn't Support websockets Library?
# --> OpenHAB runs scripts in a restricted user environment (like openhab), it may not have access to system Python libraries
# To Ensure OpenHAB can use the libraries, run this commands:
# sudo -u openhab pip3 install -r requirements.txt  --user
# Because OpenHAB runs under a different user (openhab), this command will install it in the user's environment
websockets
websocket-client
requests
numpy==1.26.4
keras-facenet
scipy
joblib
tensorflow
python-dotenv
mtcnn
opencv-python
scikit-learn
paho-mqtt